<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center">¡Muchas gracias!</h1>
		<hr>
		<h4>Has completado nuestra encuesta. Agradecemos tus respuestas, las cuales nos ayudarán a conocernos mejor. Ahora ya estás participando en el sorteo de un Apple Watch. ¡Mucha suerte!</h4>
		<h4>Puedes cerrar esta ventana.</h4>		
	</div>
</div>
