<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center">Política Animalista y II Censo Vegetariano</h1>
		<hr>
		<h4>Esta encuesta está desarrollada por Vegetarianos Chile, con el fin de tener un registro de la población vegetariana existente en Chile, y medir su relación con la política y temáticas animalistas relacionadas a ésta.</h4>
		<h4>Los datos recopilados en esta encuesta serán tratados con total confidencialidad, y al ser respondida podrás participar en el sorteo de un Apple Watch.</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr>
		<%= link_to 'Comenzar', responder_path, 'class' => 'btn btn-primary btn-block btn-lg', 'role' => 'button' %>
	</div>
</div>