<div class="row">
	<div class="col">
		<h1>Campaña de Firmas: Sin Rodeo</h1>
        <hr>
      <p class="lead">De un vistazo</p>
  </div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
          <div class="panel-body">
            <h4 class="text-center">¿Cómo vamos?</h4>
            <h1 class="text-center"><%= @conteo %></h1>
            <p class="text-center">encuestas han sido recibidas a la fecha.</p>
          </div>
      </div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
          <div class="panel-body">
            <h4 class="text-center">Descargar los resultados</p>
            <h1 class="text-center"><%= link_to 'Lista CSV', forms_path(format: :csv), :class => 'btn btn-block btn-primary' %></h1>
            <p class="text-center"><small>Los resultados se descargarán en un archivo CSV que puede importarse y editarse en Excel.</small></p>
          </div>
      </div>
	</div>
</div>
<%#
	# <div class="row">
	# 	<div class="col">
	# 		<div class="panel panel-default">
	#           <div class="panel-body">
	#             <h4 class="text-center">Resultados</h4>
	#             <p class="text-center">Próximamente.</p>
	#           </div>
	#       </div>
	# 	</div>
	# </div>
	%>
