<div class="row">
	<div class="col">
		<h3 class="sub-header">Nueva Encuesta</h3>
		<%= render 'form' %>
		<% if admin_signed_in? %>
    	<%= link_to 'Volver', forms_path, class: 'btn btn-block btn-default' %>
		<% end %>
	</div>
</div>
